doctype html
html(lang="en")
    head
        title Arduino led web API
        link(href="/css/style.css",rel="stylesheet")
        meta(name="viewport",content="width=device-width")
    body
        header
            h1 Arduino led web API
        table.control-panel
            tr
                th ledNumber
                th ledStrobe
                th ledState
            tr
                td
                    input(value=""+led,autofocus,type="number").led-number
                td
                    input(id="strobe-toggler",type="checkbox", checked=strobe===true).strobe-state.state
                    label(for="strobe-toggler")
                td
                    input(id="state-toggler",type="checkbox", checked=state===true).led-state.state
                    label(for="state-toggler")
        script.
            //we can be *quite* certain that the url is in the right format if we deny all other access
            var regexGroups = window.location.pathname.match(/\/led\/([0-9]{1,2})\/(.*)?/);

            var ledStateValue = regexGroups[2];
            var ledNumberValue = regexGroups[1];

            var ledNumber = document.querySelector(".led-number"),
                ledState  = document.querySelector(".led-state"),
                strobeState  = document.querySelector(".strobe-state");
            
            ledNumber.addEventListener("keyup",handleLedNumber);
            ledNumber.addEventListener("mousewheel",handleLedNumber);
            
            function pinExists(pin){
                return (pin && pin > 0 && pin <= 13);
            }

            function handleLedNumber(e){
                ledNumberValue = parseInt(ledNumber.value.trim());

                if( e.which == 13 || e.which == 1){
                    if( pinExists(ledNumberValue) ){
                        setTimeout(function(){
                            ledNumberValue = parseInt(ledNumber.value.trim());
                            window.location = "/led/" + ledNumberValue + "/" + ledStateValue;
                        },200);
                    }else{
                        ledNumberValue = 13;
                        ledNumber.value = 13;
                    }
                }
            }
            
            ledState.addEventListener("change", function(e){
                ledStateValue = e.target.checked ? "on" : "off";
                if( pinExists(ledNumberValue) ){
                    window.location = "/led/" + ledNumberValue + "/" + ledStateValue;
                }
            });
            strobeState.addEventListener("change", function(e){
                var strobe = e.target.checked ? "strobeon" : "off";
                if( pinExists(ledNumberValue) ){
                    window.location = "/led/" + ledNumberValue + "/" + strobe;
                }
            });
